

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-16d8vrz-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}

.css-169iwlq-MuiCalendarPicker-root{
  background-color: whitesmoke !important;
  padding-left: 20px;
}

.css-wed0tz.Mui-disabled{
  color: white;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: black !important;
}

.css-wed0tz:not(.Mui-selected){
  background-color: rgb(231, 123, 123) !important;
}


.css-wed0tz.Mui-selected{
  background-color: black !important;
}

.css-ub1r1.Mui-selected{
  background-color: black !important;
}

.css-ub1r1.Mui-selected:hover{
  background-color: black !important;
}

.css-wed0tz.Mui-disabled{
  color: black;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: whitesmoke !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: black !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled{
  color: white !important;
  background-color: rgb(231, 123, 123);
}

.css-hlj6pa-MuiDialogActions-root{
  display: none !important;
}

.css-1jm66jt-MuiClockPicker-root{
  display: none !important;
}

.css-xelq0e-MuiPickerStaticWrapper-content{
  background-color: whitesmoke !important; 
}

.css-i4bv87-MuiSvgIcon-root{
  display: none !important;
}

.rh5v-DefaultPlayer_component {
  margin-top: 5% !important;
}

.css-13cymwt-control {
  border: none !important;
  height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: 12px !important;
    background-color: rgb(245, 241, 235) !important;
}

.css-t3ipsp-control{
  border: none !important;
  box-shadow: none !important;
  background-color: rgb(245, 241, 235) !important;
  border-radius: 12px !important;
}

.css-1dimb5e-singleValue{
  background-color: rgb(245, 241, 235) !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: rgb(128, 125, 125) !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  !important;
  font-size: 20px !important;
}

.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:after{
  border-bottom: none !important;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  background-color: rgb(245, 241, 235) !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input:focus{
  background-color: rgb(245, 241, 235) !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.css-9j5nro{
  display: none !important;
}

.css-1ujsas3{
  display: none !important;
}

.css-fhpqww{
  display: none !important;
}
/* .css-1mtwusg .MuiPickersToolbar-penIconButtonLandscape{
  display: none !important;
} */

.css-1mtwusg{
  display: none !important;
  background-color: whitesmoke !important;
}

.css-1xhj18k{
  background-color: whitesmoke !important;
}