.footer {
  background-color: rgb(24, 24, 24);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-text {
  color: whitesmoke;
}

.footer-subtext {
  color: rgb(244, 230, 204);
}

.footer-button {
  background-color: rgb(200, 166, 66);
}

.footer-splash-image {
  height: 80px;
  width: 80px;
  margin-top: 60px;
  border-radius: 6px;
}

.footer-socialapps {
  padding-top: 10px;
  padding-bottom: 90px;
}

.copyright {
  font-size: 15px;
  font-weight: 400;
}


.social-icons {
  display: flex;
}
