.header-text-1{
   
    color: #0a0c0e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.header-text-2{
    
    color: #0a0c0e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.header-image{
    height: 450px;
    width: 480px;
    margin-top: 80px;
    margin-right: 150px;
    border-radius: 6px;
}





.start-button{
    
    color: whitesmoke;
   
    background-color: rgb(24, 24, 24);
   
}

.lms{
    width: 90%;
    height: 318px;
    background-color: rgb(24, 24, 24);
    margin-left: 5%;
    margin-top: 40px;
    border-radius: 25px;
   /*  border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    padding-top: 10px;
    display: flex;
   
}

.inner-lms{
    width: 93%;
    height: 289px;
    background-color: whitesmoke;
    margin-left: 6.9%;
    border-bottom-right-radius: 25px;
    margin-top: 28px;
    display: flex;
}

.left-inner-lms{
    height: 289px;
    width: 20%;
    background-color: rgb(98, 156, 98);
}

.start-button-text{
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 15px;
    text-decoration: none;
}

.applicationlink{
    text-decoration: none;
}

.para{
    font-size: 20px;
    font-weight: 500;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    text-align: center;
}

.header-footer{
    height: 150px;
    width: 100%;
    margin-top: 40px;
    background-color: #e6e6e9;
    display: flex;
    text-align: center;
   
}

.header-footer-text{
    font-size: 30px;
    color: #80878d;
    margin-right: 30px;
margin-left: 100px;
}

.career-options{
    display: flex;
    margin-left: 170px;
}

.career{
    font-size: 20px;
    margin-right: 35px;
    font-weight: 30px;
    color: #ef866f;
}

.ux-image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.user-image{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-top: 20px;
   margin-left: 30%;

}

.user-name{
 font-size: 20px;
 
 
}

.user-username{
    font-size: 16px;
    color: #545556;
    margin-left: 3px;
    text-align: center;
    font-weight: 400;
}

.user-profile{
    margin-left: 60px;
    margin-top: 80px;
    margin-right: 30px;
    
}

.frontendimage{
    width: 40px;
    height: 40px;
    border-radius: 50px;
   
    
}

.ui-text{
    font-size: 15px;
    margin-top: 20px; 
    margin-left: 20px;
}

.designing{
    border-radius: 25px;
    border-color: rgb(168, 163, 163);
    border-style: solid;
    width: 130px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
}

.all-courses{
    display: flex;
    margin-top: 20px;
}

.all-courses-header{
    margin-left: 3%;
    margin-top: 30px;
    display: flex;
}

.subjects{
    font-size: 22px;
    color: white;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.subject{
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 500;
}