.section1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.first-course-2 {
  background-color: rgb(24, 24, 24);
}

.first-course-1 {
  border-color: black;
  border: dimgray;
  border-style: solid;
  border-width: 1px;
}

.second-course-1 {
  border-color: black;
  border: dimgray;
  border-style: solid;
  border-width: 1px;
}
