.section-2-course-header{
    font-size: 55px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.section-2-course-paragraph{
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-weight: 400;
}

.schedule{
    width: 65%;
    height: 420px;
    background-color: white;
    margin-left: 18%;
    margin-bottom: 70px;
    margin-top: 90px;
    border-radius: 12px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.schedule-text{
    margin-left: 50px;
    padding-top: 30px;
    font-size: 25px;
}

.first-schedule-time{
    font-size: 18px;
    font-weight: 400;
    margin-left: -190px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.second-schedule-time{
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.schedule-course-1{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(99, 192, 78);
    margin-top: -110px;
    z-index: 1000;
    position: relative;
    margin-left: -6%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.schedule-course-2{  
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(241, 241, 32);
    margin-top: -110px;
    z-index: 1000;
    position: relative;
    margin-left: 85%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.schedule-course-3{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(135, 143, 225);
    margin-top: -110px;
    z-index: 1000;
    position: relative;
    margin-left: 35%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}