.section2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.schedule {
  background-color: white;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.schedule-course-1 {
  background-color: rgb(99, 192, 78);

  z-index: 1000;
  position: relative;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.schedule-course-2 {
  background-color: rgb(241, 241, 32);

  z-index: 1000;
  position: relative;
  margin-left: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.schedule-course-3 {
  background-color: rgb(135, 143, 225);

  z-index: 1000;
  position: relative;
  margin-left: 35%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
